<div class='col-xs-10 col-xs-offset-1 about'>
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="http://twitter.com/gabihuizar">Gaby Castañeda</a> - An aspiring web developer who loves to <a target = "_blank" href="http://atravelingtaco.com">travel</a> and eat lots of tacos.
	</p>
	<br />
	<p>
		If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>
	</p>
</div>

<div class='col-xs-12 col-sm-4'>
	<%= image_tag 'gaby.jpg', :class => 'img-responsive' %>
</div>

<div class='col-xs-12 col-sm-7 col-sm-offset-1'>
	<h2 class = 'text-center'>Gaby Castañeda</h2>
	<br />
	<p>
		Gaby Castañeda is a 23-year-old aspiring web developer. She loves to travel and eat as many tacos in one sitting as she can fit into her 5'0" frame. After graduating from CSULB(Go Beach!), she worked as an Assistant Media Buyer for a year before pursuing web development full-time. You can check out her travel blog <a target="_blank" href="http://atravelingtaco.com">here.</a>
	</p>
</div>
<br class='clear' />
<br />
<br />
<br />
<br />

