<h1>Inspire someone here!</h1>
<h2>Or just leave a travel tip</h2>
<%= simple_form_for @quote do |f| %>
	<%= f.input :saying %>
	<%= f.input :author %>
	<br />
	<%= f.submit 'Add it!', :class => 'btn btn-danger' %>
<% end %>
